

body, h1,h2,h3,h4,h5 {
    font-family: 'Poiret One', serif;
    color:white;
}

.gif {
    width: 400px;
    height: 400px;
}

button {
    height:50px;
    width:150px
}
body div.center {
    font-family: 'Josefin Slab', serif;
    position: absolute;
    top: 10%;
    width: 100%;
}

.hidden_begin{
    display: none;
}