<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="static/lib/mdl/material.min.css">
<script src="static/lib/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <meta charset="UTF-8">
    <title>Reactive - {{ result }}</title>
</head>
<body>
    <h1>Your face shows that you are ...</h1>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">hola</button>
    <img src="static/resources/gif/1.gif">
</body>
</html>