<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="static/lib/mdl/material.min.css">
<script src="static/lib/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    <h1 align="center">Welcome to "KeepItUp"</h1><br>
    <br>
    <h3 align="center">Press the button, we'll take a photo from you and analyze it</h3>
    <h3 align="center">Depending on your emotions, we'll you a specific content</h3>
    <br>
    <div class="contenidor" align="center">
        <button style="height:50px;width:150px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Analize me</button>
    </div>
</body>
</html>