<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Keep it up</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.amber-orange.min.css">
    <link href='{{ url_for('static',filename='css/main.css') }}' rel='stylesheet' type='text/css'>
</head>
<body>
<br>
<div class="intro center" >
    <div align="center">
        <h1>Welcome to <b>ReactGif</b></h1><br>
        <br>
        <h3>Press the button, we'll take a photo from you and analyze it</h3>
        <h3>Depending on your emotions, we'll show you a specific content</h3>
        <br>
        <button class="start mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            START
        </button>
    </div>
</div>

<div class="loading hidden_begin center">
    <div align="center">
        <h3>Loading...</h3>
        <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </div>
</div>
<div class="happy hidden_begin center">
    <div align="center">
        <h3>Looks like you're already happy!! ;)</h3>
        <h4>But you can watch a hedgehog taking a bath anyway</h4>
        <br>
        <img src="{{ url_for('static',filename='/resources/gif/-1.gif') }}">
    </div>
</div>

<div class="noface hidden_begin center">
    <div align="center">
        <h3>Seems like you got no face</h3>
        <h4>Maybe try to enable your camera?</h4>
        <h5>Have you tried turning it off and on again?</h5>

            <button class="start mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                START AGAIN
            </button>
    </div>
</div>
<div class="sad hidden_begin center">
    <div align="center">
        <h3>YOU SAD? :(</h3>
        <h3>Let's see if this cheers you up...</h3>
        <img id="sad_image">
    </div>
</div>


<script src="{{ url_for('static',filename='lib/mdl/material.min.js') }}"></script>
<script src="{{ url_for('static',filename='lib/jquery/jquery-2.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='app/app.js') }}"></script>
<script src="{{ url_for('static',filename='app/animate.js') }}"></script>

</body>
</html>