<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/mdl/material.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='{{ url_for('static',filename='css/main.css') }}' rel='stylesheet' type='text/css'>
</head>
<body>
<br>
<div class="intro" align="center">
    <h1>Welcome to "KeepItUp"</h1><br>
    <br>
    <h3>Press the button, we'll take a photo from you and analyze it</h3>
    <h3>Depending on your emotions, we'll show you a specific content</h3>
    <br>
    <div class="contenidor" align="center">
        <button style="height:50px;width:150px" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Analize me
        </button>
    </div>
</div>
<script src="{{ url_for('static',filename='lib/mdl/material.min.js') }}"></script>
</body>
</html>